.login-form {
    margin-top: 20%;
}

.form-control:focus {
    border-color: rgba(52, 58, 64, 0.25) !important;
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25) !important;
}

.col-sm-6 {
    text-align: center;
}

.logo img {
    width: 70%;
}

.logo {
    margin-bottom: 10%;
}