.ticket {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left-panel {
    width: 70%;
}

.right-panel {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-panel ul {
    padding: 0;
}

.right-panel ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 50px;
    border-top: 1px solid black;
}

table {
    margin: 0 auto;
    margin-top: 32px;
    width: 60%;
}

.informations img {
    margin-top: 45px;
    max-width: 150px;
    max-height: 200px;
}

thead tr th {
    background: #4f4f4f;
    color: #FFFFFF;
    width: 33.33%;
    height: 40px;
}

tbody tr td {
    height: 50px;
}

.informations, .right-panel {
    text-align: center;
}

h2 {
    margin: 0;
    padding-top: 20px;
}

.add-comment {
    height: 200px;
    border-top: 1px solid black;
}

.add-comment textarea, .add-comment button {
    margin: 0 auto;
    width: 80%;
}

.add-comment textarea {
    transition: all 0s;
    min-height: 50px;
    max-height: 130px;
    margin-top: 5px;
}